@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #1A85FF;
    --secordary: #3B5D85;
}

/* Structure */

.container{
    max-width: 90vw;
}

.box{
    border-radius: 15px;
    background-color: #fff;
}

.weather-box{
    height: 320px;
}

.map-box{
    
}

.forecast-box{
    height: 300px;
}

@media (max-width:760px){
    .map-box{
        height: 320px;
    }
}


/*  Components Styling */
*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #E3F0FF;
}

.time{
    font-size: calc(2rem + 0.8vw);
    font-weight: 600;
    margin-bottom: -5px !important;
    color: var(--primary);
}

.date{
    color: #0A3566;
    font-size: calc(15px + 0.2vw);
}

.greenting{
    font-size: calc(2rem + 2vw);
    font-weight: 600;
    color: var(--primary);
}

.search-bar{
    border-radius: 50px;
}

.search-bar input{
    width: 80%;
    border: none;
}

.search-bar input:focus{
    outline: none;
}

.search-bar input::placeholder{
    color: #557191;
}

.search-bar i{
    color: #6C86A3;
    font-size: 18px;
    transition: color 0.3s;
    padding-left: 0%;
}
.search-bar i:hover{
    color: #243e5c;
    cursor: pointer;
}

.btn-bg{
    background-color: #CBE3FF;
    padding-inline: 20px;
    padding-block: 15px;
    border-radius: 15px;
}

.btn{
    color: #1A85FF;
    font-size: calc(10px + 0.4vw);
}

.fa-bell{
    color: #1A85FF;
    font-size: calc(12px + 0.5vw);
}

.theme-toggler{
    background-color: #fff;
    font-size: calc(14px + 0.5vw);
    border-radius: 100px;
    padding: 14px 10px;
}

.theme-toggler button{
    border: none;
    background-color: #fff;
    color: #3B5D85;
}

.theme-toggler button i{
    padding: 10px;
    border-radius: 100px;
}

.active-theme{
    background-color: var(--primary);
    color: #fff;
}

.forecast-title{
    font-weight: 600;
    color: var(--secordary);
}

.weather-heading h4{
    font-weight: 600;
    font-size: calc(12px + 0.7vw);
    color: #3B5D85;
}

.weather-heading p{
    color: #6C86A3;
    font-size: calc(8px + 0.4vw);
}

.weather img{
    width: calc(120px + 4vw);
    z-index: 5;
}

.weather-num{
    font-weight: 600;
    font-size: calc(45px + 3vw);
    color: #3B5D85;
}

.weather-unit{
    font-size: calc(12px + 0.5vw);
    position: relative;
    top: calc(-30px + -1.4vw);
}

.info-title{
    color: #6C86A3;
    padding-right: 10px;
    font-size: calc(10px + 0.4vw);
}

.other-info-tbl{
    border-collapse: separate;
    border-spacing: 10px;
}

.weather table td:not(.info-title){
    padding-left: 10px;
    border-left: 1px solid #C6D1DF;
    color: #3B5D85;
    font-size: calc(14px + 0.4vw);
}

.weather-bg-img{
    position: relative;
    top: calc(-10rem + -2vw);
    left: calc(-5rem + -2vw);
    z-index: 0;
    filter: blur(5rem);
}

#map{
    border-radius: 15px;
    background-color: #fff;
}

.map-title{
    color: #F6F6F6;
    border-radius: 10px;
    background-color: #273f5c81;
    backdrop-filter: blur(6px);
    font-size: calc(7px + 0.4vw);
}

.forecast-box{
    text-align: center;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(246,247,255,1) 45%, rgba(224,227,255,1) 100%);
    height: fit-content;
}

.forecast-box h2{
    font-weight: 600;
    font-size: calc(2.5rem + 0.5vw);
    color: #555B97;
}

.forecast-box p{
    color: #878CCA;
}

.forecast-box img{
    width: 65%;
}

.weather-condition{
    font-weight: 600;
    font-size: calc(1rem + 0.5vw);
    color: #6C86A3;
    margin-top: calc(-20px + -1vw);
    margin-bottom: 0;
}

.loading-logo{
    width: calc(5rem + 2.5vw);
    animation: 1.5s ease infinite loading;
}

.loading{
    background-color: #e5f1fa;
}

@keyframes loading{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px){
    .search-bar input{
        font-size: 12px;
    }
}
